.basic-input {
  display: flex;
  flex-direction: column-reverse;
  border-radius: 5px;

  input {
    padding: 8px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  label {
    padding: 2px 5px;
    margin: 0;
    font-size: 0.8rem;
  }
}
