* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-padding: calc(var(--size__navbar-height) + 8px);
  font-family: "Tagesschrift", system-ui;
  font-weight: 200;
}

body {
  background-color: grey;
}

main {
  background-color: white;
  height: 21cm;
  width: 29.7cm;
  margin: auto;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

section {
  display: grid;
  grid-template-rows: auto auto auto auto 1fr;
  gap: 5px;
  margin-bottom: 0;
}

.title {
  display: flex;
  justify-content: space-around;
  align-items: center;

  h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0;
  }

  svg {
    height: 30px;
    width: fit-content;
  }
}

.header__second-line {
  display: grid;
  grid-template-columns: 1fr 75px 75px;
  gap: 20px;
}

.torso {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 40px;
}

.attributes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;

  .basic-input {
    max-width: fit-content;
    height: 100%;
  }

  input {
    height: 100%;
    max-width: 75px;
  }

  label {
    text-align: center;
  }
}

.notes {
  grid-template-rows: 1fr;

  input {
    height: 100%;
  }
}
